# Authentication
PyJWT==2.8.0
cryptography==41.0.7
Werkzeug==3.0.1
python-dotenv==1.0.0
Flask-Session==0.5.0
Flask-Cors==4.0.0

# Web framework
Flask==3.0.0

# Security
bcrypt==4.0.1
python-jose==3.3.0
