groq
Flask
flask-cors
Flask-Session
python-dotenv
requests

supabase

langchain
langchain-core
langchain-community
langchain-huggingface

chromadb
huggingface-hub

passlib[bcrypt]==1.7.4


gunicorn
fastapi
pydantic
tiktoken